{% extends "base2.html" %}

{% block content %}
<form action="/projectdetails/viewappdetails/"method="post">
{% csrf_token %}
     <div class="form-group">
         <label for="appid">Enter Appartment Number</label>
         <input type="number" name="appid"  class="form-control" id="appid" aria-describedby="basic-addon1">
     </div>
<button type="submit" class="btn btn-primary">view</button>
</form>
    <div>
    {% if messages %}
            {% for message in messages %}
            <h3> {{message}}  </h3>
            {% endfor %}
    {% endif %}
    </div>
{% endblock %}
